body {
    background: cornflowerblue;
    font: normal 16px/1.5;
    font-family: 'Times New Roman', Times, serif;
}

.header ul {
    display: flex;
    align-content: center;
    justify-content: center;

}

.header ul li {
    margin-right: 5px;
    padding: 0.8em;
    list-style: none;
    background: #6494edb9;
    box-shadow: 0px 0px 10px #6494edb9;
}

.header ul li a {
    font-weight: bold;
    color: #FFF;
    font-size: 1em;
    text-decoration: none;
    padding: 1em;
    padding-bottom: 5px;
    white-space: nowrap;
    letter-spacing: 1px;
}

ul li a:hover {
    border-bottom: 3px solid #FFF;
}

.header {
    padding: 20px;
    height: 93.88%;
    background: url("./ms-dhoni.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}

.header h1 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 10rem;
    text-align: center;
    color: #FFF;
    text-shadow: black;
    text-shadow: 1px 1px 10px black;
}

.header h2 {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    color: #FFF;
    text-shadow: black;
    text-shadow: 1px 1px 10px black;
}

.header .content h1 {
    position: relative;
    top: 50%;
    text-align: center;
    padding-top: 120px;
}

.flex1 {
    margin: 10px 0px;
    display: flex;
    color: white;
    padding: 50px;
    position: center;
    background: linear-gradient(to bottom, #329de4, #6344d3);
    font-family: 'Times New Roman', Times, serif;
}

.flex1 h1 {
    font-size: 325%;
    text-align: center;
}

.flex1 p {
    font-weight: 400%;
    font-size: 150%;
    text-align: left;
}

.flex2 {
    display: flex;
    color: white;
    padding: 50px;
    /* position: center; */
    background: linear-gradient(to left, #0381b8, #2817c7, #c90bf8);
    font-family: 'Times New Roman', Times, serif;
}

.flex2 h1 {
    font-size: 325%;
    padding-left: 33%;
    text-align: center;
    text-decoration: underline;
}

.flex2 h2 {
    padding-bottom: 0px;
    font-size: 30px;
    margin-bottom: 5px;
    text-decoration: underline;
}

.flex2 li {
    font-weight: 400%;
    font-size: 23px;
    text-align: left;
}